# For Loop

In [1]:
list1 = [1, 2, 3, 4, 5, 6]
for i in list1:
    print(i)

1
2
3
4
5
6

In [4]:
print("Hello", end=" ")
print("World", end=" ")

Hello World

In [5]:
list1 = [1, 2, 3, 4, 5, 6]
for i in list1:
    print(i, end=" ")

1 2 3 4 5 6

In [7]:
tup1 = (1, 2, 3, 4, 5, 6)
for i in tup1:
    print(i, end=" ")

1 2 3 4 5 6

In [8]:
range(0, 10)

range(0, 10)

In [10]:
type(range(0, 10))

range

In [11]:
for i in range(0, 10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [13]:
for i in range(0, 10, 2):
    print(i, end=" ")

0 2 4 6 8

In [15]:
# Even Numbers
for i in range(0, 10, 2):
    print(i, end=" ")

0 2 4 6 8

In [18]:
# Even Number
for i in range(1, 11):
    if i % 2 == 0:
        print(i, end=" ")

2 4 6 8 10

In [21]:
# Iterating String
str1 = "New Delhi"
for ch in str1:
    print(ch, end=" ")

N e w   D e l h i

In [23]:
#Finding character in a string
str1 = "New Delhi"
search="g"
result=False
for ch in str1:
    if search==ch:
        result=True
if result==True:
    print(search, " exists in ", str1)
else:
    print(search, " does not exist in ", str1)

g  does not exist in  New Delhi

In [25]:
#Finding count of particular character in a string
str1 = "New Delhi"
search="e"
count=0
for ch in str1:
    if search==ch:
        count += 1
        
print(search, " exists in ", str1, " ", count, " times.")

e  exists in  New Delhi   2  times.

In [26]:
# List containing Tuple
list1 = [(1,2), (3,4), (5,6), (7,8), (9,10)]
for n in list1:
    print(n)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)

In [27]:
# List containing Tuple
list1 = [(1,2), (3,4), (5,6), (7,8), (9,10)]
for x,y in list1:
    print(x, y)

1 2
3 4
5 6
7 8
9 10

In [29]:
# List containing Tuple
list1 = [(1,2), (3,33, 4, 44), (5,6), (7,8), (9,10)]
for x in list1:
    for i in x:
        print(i, end=" ")
    print()

1 2
3 33 4 44
5 6
7 8
9 10

In [31]:
d1 = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4', 'key5': 'value5'}
d1

{'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key4': 'value4',
 'key5': 'value5'}

In [37]:
for x in d1.values():
    print(x)

value1
value2
value3
value4
value5

In [44]:
for i in range(1, 10):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [45]:
# Print Table of given number
num = int(input("Enter Number : "))
for i in range(1, 11):
    print(num, " X ", i, " = ", num * i)

Enter Number : 5
5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
5  X  7  =  35
5  X  8  =  40
5  X  9  =  45
5  X  10  =  50

# String Problem

In [46]:
name = input("Enter two words name : ")

Enter two words name : Radha Sharma

In [47]:
name

'Radha Sharma'

In [48]:
name = name.split(" ")

In [49]:
name

['Radha', 'Sharma']

In [50]:
name[-1]

'Sharma'

# while

In [53]:
x = 0
while x < 10:
    print(x, end=" ")
    x = x + 1

0 1 2 3 4 5 6 7 8 9

In [56]:
x = 0
while x < 10:
    print(x, end=" ")
    x = x + 1
else:
    print("The code is executed after while main part is executed.")

0 1 2 3 4 5 6 7 8 9 The code is executed after while main part is executed.

In [57]:
x = 0
while x < 10:
    print(x, end=" ")
    x = x + 1
    if x==5:
        break

0 1 2 3 4

In [62]:
x = 0
while x < 10:
    x = x + 1
    if x==5:
        continue
    print(x, end=" ")

1 2 3 4 6 7 8 9 10

In [63]:
x = 0
while x < 10:
    x = x + 1
    if x==5:
        #This code is incomplete - will be done once agent is back.
        pass
    print(x, end=" ")

1 2 3 4 5 6 7 8 9 10