# Functions

In [3]:
def addtwonumbers(a, b):
    print("Addition of ", a, " and ", b, " is ", a+b)

addtwonumbers(10, 20)

Addition of  10  and  20  is  30

In [4]:
def addtwonumbers(a, b):
    print("Addition of ", a, " and ", b, " is ", a+b)

num1 = int(input("Enter First Number : "))
num2 = int(input("Enter Second Number : "))
addtwonumbers(num1, num2)

Enter First Number : 10
Enter Second Number : 20
Addition of  10  and  20  is  30

In [5]:
# Function Returning Values
def addtwonumbers(a, b):
    return a+b

num1 = int(input("Enter First Number : "))
num2 = int(input("Enter Second Number : "))
res = addtwonumbers(num1, num2)
print("Addition of ", num1, " and ", num2, " is ", res)

Enter First Number : 10
Enter Second Number : 20
Addition of  10  and  20  is  30

In [7]:
# Function with default Parameter Values
def addtwonumbers(a=10, b=30):
    return a+b

num1 = int(input("Enter First Number : "))
num2 = int(input("Enter Second Number : "))
res = addtwonumbers(num1, num2)
print("Addition : ", res)

Enter First Number : 90
Enter Second Number : 80
Addition :  170

In [9]:
#Global Variable
a = 10
def func():
    print("a : ", a)
func()

a :  10

In [10]:
a = 10
def func():
    a = 20
    print("Inside Fucntion - a : ", a)
func()
print("Outside Function - a : ", a)

Inside Fucntion - a :  20
Outside Function - a :  10

In [11]:
#Manipulating Global Variables Inside Function
a = 10
def func():
    global a
    a = 20
    print("Inside Fucntion - a : ", a)
func()
print("Outside Function - a : ", a)

Inside Fucntion - a :  20
Outside Function - a :  20

# List Comprehension

In [12]:
#In Case of Normal Functions
list1 = []
str1  = "New Delhi"
for ch in str1:
    list1.append(ch)
list1

['N', 'e', 'w', ' ', 'D', 'e', 'l', 'h', 'i']

In [13]:
list1 = [x for x in range(0, 10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
list1 = [x**2 for x in range(0, 10)]
list1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
datalist = [1, 2, 3, 4, 5]
list1 = [x**2 for x in datalist]
list1

[1, 4, 9, 16, 25]

In [16]:
datalist = [1, 2, 3, 4, 5]
list1 = [x**2 for x in [y**2 for y in datalist]]
list1

[1, 16, 81, 256, 625]

In [18]:
datalist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
res = [x for x in datalist if x%2==0]
res

[2, 4, 6, 8, 10]

In [21]:
res = [x for x in range(11) if x!=0 and x%2==0]
res

[2, 4, 6, 8, 10]

# Lambda Expressions

In [22]:
#res = lambda x : x ** 2

In [23]:
square = lambda x : x**2
square(10)

100

In [24]:
addtwonum = lambda x,y:x+y
addtwonum(10, 20)

30

In [25]:
lastname = lambda name:name[-1]
lastname(["Ashman", "Malhotra"])

'Malhotra'

In [28]:
lastname = lambda name : name.split(" ")[-1]
lastname("Ashman Malhotra")

'Malhotra'

In [29]:
lastname = lambda name : name.split(" ")[1]
lastname("Mohan Das Karam")

'Das'

# Working with Files

In [30]:
fileobj = open("datafile.txt", "r")

In [31]:
fileobj.read()

'This is the first line.\nThis is the second line.\nThis is the third line.'

In [32]:
fileobj.read()

''

In [33]:
fileobj.tell()

74

In [34]:
fileobj.seek(0, 0)

0

In [35]:
fileobj.tell()

0

In [36]:
fileobj.read()

'This is the first line.\nThis is the second line.\nThis is the third line.'

In [37]:
fileobj.seek(0,0)

0

In [38]:
fileobj.read(10)

'This is th'

In [39]:
fileobj.close()

In [40]:
fileobj.read()

ValueError: I/O operation on closed file.

In [48]:
filewrite = open("fruitsstock.txt", "w")

In [49]:
filewrite.write("Apples; Rs.50\n")

14

In [50]:
filewrite.write("Mangoes; Rs.80\n")

15

In [51]:
filewrite.write("Kiwi; Rs.25\n")

12

In [52]:
filewrite.close()

In [54]:
fileread = open("fruitsstock.txt", "r")
fileread.read()

'Apples; Rs.50\nMangoes; Rs.80\nKiwi; Rs.25\n'

In [55]:
fileread.seek(0,0)

0

In [58]:
fileread.readline()

'Kiwi; Rs.25\n'

In [59]:
# Append Mode : "a"

In [63]:
# Creating a duplicate of the file - simple method
# 1. Read the content the original file
rfileobj = open("fruitsstock.txt", 'r')
content = rfileobj.read()
print("Content of Original File :\n", content)
rfileobj.close()

# 2. Create Duplicate File
wfileobj = open("duplicate.txt", 'w')
wfileobj.write(content)   # Write content to duplicate file stored inside Content variable
wfileobj.close()

# 3. Let's Read the duplicate file
rdupfile = open("duplicate.txt", 'r')
print("Content of Duplicate File :\n", rdupfile.read())
rdupfile.close()

Content of Original File :
 Apples; Rs.50
Mangoes; Rs.80
Kiwi; Rs.25

Content of Duplicate File :
 Apples; Rs.50
Mangoes; Rs.80
Kiwi; Rs.25

In [62]:
a = 10
b = 20
a
b

20

In [70]:
resobj = open("class_result.txt", 'r')
stulist = []
for line in resobj:
    stuline = line.split(";")
    stulist.append(stuline)
print(stulist)

[['Mohan', 'Das', '80', 'New Delhi\n'], ['Karam', 'Chand', '90', 'Jalandhar\n'], ['Mohan', 'Gandhi', '70', 'Patiala\n'], ['Neeta', 'Singh', '45', 'Guwhati']]