# String

### Memory Address

In [1]:
str1 = "New Delhi"

In [2]:
id(str1)

2045592472176

In [3]:
hex(id(str1))

'0x1dc46d00a70'

In [4]:
len(str1)

9

In [5]:
type(str1)

str

In [6]:
str1.capitalize()

'New delhi'

In [7]:
str1.upper()

'NEW DELHI'

In [8]:
str1.lower()

'new delhi'

In [9]:
str1.split(" ")

['New', 'Delhi']

### Immutability

In [11]:
str1

'New Delhi'

In [12]:
str1[0]

'N'

In [14]:
str1[0] = "D"     #Not Allowed

TypeError: 'str' object does not support item assignment

# List

In [15]:
l1 = [10, 20, 30.90, True, False, [20, 30], 'Delhi', 1]

In [16]:
l2 = [10, 20, 30, 40, 50]

In [17]:
l2[0]

10

In [18]:
l2[4]

50

In [19]:
l1[5]

[20, 30]

In [20]:
l1[5][0]

20

In [21]:
type(l1)

list

In [22]:
type(l2)

list

In [23]:
l1

[10, 20, 30.9, True, False, [20, 30], 'Delhi', 1]

In [24]:
l1[1:5]

[20, 30.9, True, False]

In [25]:
l1[5:6]

[[20, 30]]

In [26]:
l1[5]

[20, 30]

In [27]:
l1[0::2]

[10, 30.9, False, 'Delhi']

### Adding List

In [29]:
l1 = [10, 20, 30]
l2 = [40, 50, 60, 70]
l3 = l1 + l2

In [30]:
l3

[10, 20, 30, 40, 50, 60, 70]

In [31]:
l3.append(80)

In [32]:
l3

[10, 20, 30, 40, 50, 60, 70, 80]

In [33]:
l3.count(40)

1

In [34]:
l3.append(50)
l3.count(50)

2

In [35]:
l3.clear()

In [36]:
l3

[]

In [37]:
l2

[40, 50, 60, 70]

In [38]:
l2[1]

50

# Mutability - Lists are Mutable

In [39]:
l2

[40, 50, 60, 70]

In [40]:
id(l2)

2045593179592

In [41]:
l2.append(80)

In [42]:
id(l2)

2045593179592

In [43]:
l2

[40, 50, 60, 70, 80]

In [44]:
l2[3] = 50

In [45]:
l2.remove(60)

In [46]:
3 l2

[40, 50, 50, 80]

# Tuple

In [47]:
t1 = (10, 20, 30.40, True, False, [10, 20], (20, 30), True)

In [48]:
t1

(10, 20, 30.4, True, False, [10, 20], (20, 30), True)

In [49]:
t1[0]

10

In [50]:
t1[3]

True

In [51]:
t1[5]

[10, 20]

In [53]:
t1[1] = 20

TypeError: 'tuple' object does not support item assignment

In [54]:
t1

(10, 20, 30.4, True, False, [10, 20], (20, 30), True)

In [55]:
t1[6][0] = 30

TypeError: 'tuple' object does not support item assignment

In [56]:
t1[5] = 90

TypeError: 'tuple' object does not support item assignment

In [57]:
t1[5][0] = 90

In [58]:
t1

(10, 20, 30.4, True, False, [90, 20], (20, 30), True)

In [59]:
t1.count(20)

1

In [60]:
t1.count(50)

0

In [61]:
t1.index(True)

3

In [62]:
len(t1)

8

In [63]:
len(t1[5])

2

In [64]:
len(t1[6])

2

# Dictionary

In [65]:
d1 = {'blue': 'sky', 'green':'grass', 'white':'milk', 'yellow':'flower'}

In [66]:
d1

{'blue': 'sky', 'green': 'grass', 'white': 'milk', 'yellow': 'flower'}

In [67]:
d1['yellow']

'flower'

In [68]:
d1['grass']

KeyError: 'grass'

In [69]:
d1['green']

'grass'

In [70]:
d1

{'blue': 'sky', 'green': 'grass', 'white': 'milk', 'yellow': 'flower'}

In [71]:
d1[0]

KeyError: 0

In [73]:
d1[0] = "Error"

In [72]:
d1['green'] = "TShirt"

In [74]:
d1

{'blue': 'sky',
 'green': 'TShirt',
 'white': 'milk',
 'yellow': 'flower',
 0: 'Error'}

In [75]:
del(d1['yellow'])

In [76]:
d1

{'blue': 'sky', 'green': 'TShirt', 'white': 'milk', 0: 'Error'}

In [77]:
del(d1['green'])

In [78]:
d1

{'blue': 'sky', 'white': 'milk', 0: 'Error'}

In [79]:
d1.clear()

In [80]:
d1

{}

In [81]:
del(d1)

In [82]:
d1

NameError: name 'd1' is not defined

In [83]:
d1 = {'blue': 'sky',
 'green': 'TShirt',
 'white': 'milk',
 'yellow': 'flower',
 0: 'Error'}

In [84]:
d1

{'blue': 'sky',
 'green': 'TShirt',
 'white': 'milk',
 'yellow': 'flower',
 0: 'Error'}

In [85]:
len(d1)

5

In [87]:
d1.keys()

dict_keys(['blue', 'green', 'white', 'yellow', 0])

In [88]:
d1.values()

dict_values(['sky', 'TShirt', 'milk', 'flower', 'Error'])

In [89]:
d1 = {'a':1, 'b':2}
d2 = {'c':3}

In [90]:
d1

{'a': 1, 'b': 2}

In [91]:
d2

{'c': 3}

In [92]:
d3 = d1 + d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [93]:
d3 = {}

In [94]:
d3.update(d1)

In [95]:
d3

{'a': 1, 'b': 2}

In [96]:
d3.update(d2)

In [97]:
d3

{'a': 1, 'b': 2, 'c': 3}

# Membership Operator

In [98]:
l1 = [10, 20, 30, 40, 50]

In [99]:
10 in l1

True

In [100]:
90 in l1

False

In [101]:
90 not in l1

True

In [102]:
40 not in l1

False

In [103]:
t1 = (10, 20, 30, 40, 50)
30 in t1

True

# Identity Operator

In [104]:
a = 10
b = 20

In [105]:
a is b

False

In [106]:
a is not b

True

# Chaining

In [107]:
city = "Delhi"

In [110]:
city.upper().lower().capitalize()

'Delhi'

# Chaining Operators

In [111]:
a = 10
b = 20
c = 30

In [112]:
a > b > c

False

In [113]:
b>a>c

False

In [114]:
a = 10
b = 20
c = 30

IndentationError: unexpected indent (<ipython-input-114-c5590b58a02e>, line 2)

# Conditional

In [115]:
a = 10
b = 20
if a>b:
    print("a is greatest number.")
else:
    print("b is greatest number.")

b is greatest number.

In [116]:
print("Hello World")

Hello World

In [117]:
print("Hello", "World")

Hello World

In [118]:
print("The value of a : ", a)

The value of a :  10

In [119]:
print("The a : ", a, " and b : ", b)

The a :  10  and b :  20

### Nested If

In [124]:
a = 6
b = 10
if a>b:
    if a>5:
        print("a is greater than b and 5")
    else:
        print("a is greater than b but not greater than 5")
else:
    print("b is greater than a")

b is greater than a

In [128]:
fruit = "watermellon"

if fruit=="apple":
    print("The price of apple is Rs100/kg")
elif fruit=="mango":
    print("The price of mango is Rs60/kg")
elif fruit=="kiwi":
    print("The price of kiwi is Rs20/piece")
elif fruit=="grape":
    print("The price of grape is Rs80/kg")
else:
    print("The fruit is not in stock.")

The fruit is not in stock.